/* Ensure navbar background color */
.navbar {
  background-color: #FABC3F;
  border-bottom: 2px solid #dee2e6;
}

.navbar .container {
  background-color: #FABC3F;
}

.navbar-brand img {
  max-height: 50px;
}

img.logo {
  border-radius: 10px;
}

.info-icon {
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  margin-left: auto;
}


.info-icon .dropdown-toggle::after {
  display: none;
}

.navbar-nav {
  margin-left: auto;
}

/* Dropdown menu styles */
.dropdown-menu {
  padding: 0 !important;
  background-color: white !important; /* Ensure the dropdown background color is applied */
  border: none; /* Remove default border */
}

.dropdown-item {
  color: #000 !important; /* Ensure text color for dropdown items */
}

.dropdown-item:hover {
  background-color: #ff9800 !important; /* Ensure background color on hover */
  color: #fff !important; /* Ensure text color on hover */
}
