/* Ensure navbar background color */
.navbar {
  background-color: #333; /* Dark background color */
  border-bottom: 2px solid #444; /* Darker border color */
  position: sticky !important; /* Make the header sticky */
  top: 0; /* Stick to the top of the viewport */
  left: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it's above other content */
  padding: 10px 20px; /* Adjust padding as needed */
}

/* Ensure container within navbar is styled correctly */
.navbar .container {
  background-color: #333; /* Dark background color */
}

/* Adjust logo styling */
.navbar-brand img {
  max-height: 50px;
}

/* Style logo */
img.logo {
  border-radius: 10px;
}

/* Style for the info icon */
.info-icon {
  cursor: pointer;
  color: #e0e0e0; /* Light text color */
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Remove default dropdown icon */
.info-icon .dropdown-toggle::after {
  display: none;
}

/* Style navbar links */
.navbar-nav {
  margin-left: auto;
}

/* Dropdown menu styles */
.dropdown-menu {
  padding: 0 !important;
  background-color: #1f1f1f !important; /* Dark dropdown background color */
  border: none; /* Remove default border */
}

.dropdown-item {
  color: #e0e0e0 !important; /* Light text color for dropdown items */
}

.dropdown-item:hover {
  background-color: #333 !important; /* Slightly lighter dark color on hover */
  color: #fff !important; /* Ensure text color on hover */
}
